# Ambiente Virtual
venv/
env/
ENV/
dist/
build/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de Dados SQLite
instance/
*.db
*.sqlite

# Variáveis de Ambiente 
.env
.flaskenv

# Pastas de Editores 
.vscode/
.idea/
*.swp

# Ficheiros do Sistema Operativo
.DS_Store
Thumbs.db